@using UCosmic.Www.Mvc.Areas.InstitutionalAgreements.Models.ConfigurationForms
@model InstitutionalAgreementConfigurationForm
@{
    ViewBag.Title = "Institutional Agreement Module Configuration";
}
@section Styles
{
    <style type="text/css">
        .input.combobox button {
            background-image: url('/content/skins/default/drop-arrow.png');
            background-repeat: no-repeat;
            background-position: center center;
        }
    </style>
}
@section Scripts
{
    @{
        var test = "";
    }

    <script type="text/javascript" src="@Url.Content(Links.scripts.areas.institutional_agreements.configuration_form_js)"></script>

}
<h2>
    @ViewBag.Title
</h2>
@if (Model.RevisionId != 0)
{
    <p>
        The Institutional Agreement Module Configuration for <strong>@Model.ForEstablishmentOfficialName</strong>
        has already been set up. <a href="@Url.Action(MVC.InstitutionalAgreements.ConfigurationForms.Edit())">
            Click here to view the configuration</a>.
    </p>
}
else
{
    using (Html.BeginForm(MVC.InstitutionalAgreements.ConfigurationForms.Add()))
    {
    <div>
        @Html.ValidationSummary(false, "Please correct the following and try again:")
    </div>
    @Html.EditorForModel()
    <div>
        @Html.ValidationSummary(false, "Please correct the following and try again:")
    </div>
    <div>
        <input id="create_configuration" type="submit" value="Create Configuration" />
    </div>
    }
}