@*@using UCosmic.Www.Mvc.Areas.Identity.Models.SignUp
@model OldSendEmailForm
<div id="sign_up_editor">
    <p>
        To get started, enter your email address below.
    </p>
    <div class="field" data-ucosmic-val="css">
        <span class="label" data-ucosmic-val-hide="error" data-ucosmic-val-show="valid" data-ucosmic-focused-class="focused">
            @Html.LabelFor(m => m.EmailAddress)
        </span>
        <div class="messages" data-ucosmic-focused-class="focused">
            <span class="validation">@Html.ValidationMessageFor(m => m.EmailAddress)</span>
            <div class="bottom callout border">
                <div class="bottom callout bg">
                </div>
            </div>
        </div>
        <div class="input">
            <div class="text-box input" data-ucosmic-watermark="true" 
                 data-ucosmic-watermark-text="@(ModelMetadata.FromLambdaExpression(m => Model.EmailAddress, ViewData).Watermark)"
                 data-ucosmic-watermark-class="watermark" data-ucosmic-watermark-focused-class="focused"
                 data-ucosmic-trim-input="true">
                @Html.TextBoxFor(m => m.EmailAddress, new { type = "email" })
            </div>
        </div>
    </div>
    <p>
        To find out if you're eligible, click the <b>Check Eligibility</b> button.
    </p>
    <div class="check-eligibility" 
         data-app-sign-up-eligibility-url="@Url.Action(MVC.Identity.OldSignUp.ValidateSendEmail())">
        <input type="button" value="Check Eligibility" />
        <span class="icon-16 push-left">
            <img alt="green checkmark icon" class="eligible no-display" 
                 src="@Url.Content(Links.content.icons.checkmarks.checkmark_green_16_png)" />
            <img alt="spinning wait icon" class="wait no-display" 
                 src="@Url.Content(Links.content.icons.loaders.win7_wait_16_gif)" />
        </span>
    </div>
    <p>
        <strong>&nbsp;</strong><strong class="eligible no-display ok">Congratulations, your
            email address is eligible!</strong>
    </p>
    <p>
        Once you know your email address is eligible, click the <strong>Send Confirmation Email</strong>
        button to begin the sign up process.
    </p>
    <div>
        <input type="submit" value="Send Confirmation Email" />
        @Html.Partial(MVC.Shared.Views.form_submitted_spinner)
    </div>
</div>
*@