@using UCosmic.Domain.People
@model UCosmic.Www.Mvc.Areas.Identity.Models.ConfirmEmailForm
@{
    ViewBag.Title = "Confirm your email address";
}
<div class="wrap-960 split-form">
    <div class="left">
        @using (Html.BeginForm(
            MVC.Identity.ConfirmEmail.ActionNames.Post,
            MVC.Identity.ConfirmEmail.Name,
            new
            {
                area = MVC.Identity.Name,
                httpMethod = "POST",
                token = Model.Token,
            }
        ))
        {
            <fieldset>
                <legend>
                    @Html.Partial(MVC.Identity.ConfirmEmail.Views._form_legend_text)
                </legend>
                @Html.Partial(MVC.Identity.ConfirmEmail.Views._form_instructions)
                @Html.AntiForgeryToken()
                @Html.EditorForModel()
                @if (Model.Intent == EmailConfirmationIntent.CreatePassword)
                {
                    <p>
                        After confirming, your next step will be to create a password.
                    </p>
                }
            </fieldset>
        }
    </div>
    <div class="right">
        @Html.Partial(MVC.Identity.ConfirmEmail.Views._right)
    </div>
</div>
@section Scripts
{

    <script type="text/javascript">
        $.validator.setDefaults({
            onkeyup: false,
            onfocusout: false,
            onsubmit: true
        });
        $('input[type=password]:first').focus();
    </script>

}
