@model UCosmic.Www.Mvc.Models.UserVoiceLink
<a href="@Model.Href" title="@Model.Title" target="@Model.Target"
    class="@Model.CssClass" data-ucosmic-dialog="@Model.Dialog">@Model.Text</a>@Model.TextAfter
