@model UCosmic.Www.Mvc.Areas.Identity.Models.SignIn.SignInNavInfo
<div class="identity">
    @if (Model.IsSignedIn)
    {
        <a href="@Url.Action(MVC.My.Profile.Get())" class="signed-in">@User.Identity.Name</a>
        <span class="pipe">|</span>
        <a href="@Url.Action(MVC.Identity.OldSignIn.SignOut(Request.RawUrl))">Sign Out</a>
        if (Model.IsImpersonating)
        {
        <span class="pipe">|</span>
        <a href="@Url.Action(MVC.Identity.OldSignIn.UndoSignInAs(Request.RawUrl))" class="sign-out">
            @Model.WasSignedInAs</a>
        }
        if (Model.IsImpersonator || Model.IsImpersonating)
        {
        <span class="pipe">|</span>
        <a href="@Url.Action(MVC.Identity.OldSignIn.SignInAs())">Impersonate</a>
        }
    }
    else
    {
        <a href="@Url.Action(MVC.Identity.OldSignIn.SignIn(Request.RawUrl))" class="sign-in">Sign
            In</a> 
        <span class="pipe">|</span>
        <a href="@Url.Action(MVC.Identity.SignOn.Get(Request.RawUrl))" class="sign-on">Sign
            On</a> 
        <span class="pipe">|</span>
        <a href="@Url.Action(MVC.Identity.OldSignUp.SendEmail())" class="sign-up">Sign Up</a>
    }
</div>
