@using UCosmic.Www.Mvc.Areas.My.Models
@model EmployeeOrStudentAffiliate?
<div class="institution-radios field">
    <div class="messages push-down">
        @Html.ValidationMessageFor(m => m)
    </div>
    <div>
        <label class="institution-radio">
            @Html.RadioButton(string.Empty, EmployeeOrStudentAffiliate.EmployeeOnly, Model == EmployeeOrStudentAffiliate.EmployeeOnly, 
                new { id = string.Format("{0}_{1}", Html.IdFor(m => m), EmployeeOrStudentAffiliate.EmployeeOnly) })
            I am an employee.
        </label>
    </div>
    <div>
        <label class="institution-radio">
            @Html.RadioButton(string.Empty, EmployeeOrStudentAffiliate.StudentOnly, Model == EmployeeOrStudentAffiliate.StudentOnly,
                         new { id = string.Format("{0}_{1}", Html.IdFor(m => m), EmployeeOrStudentAffiliate.StudentOnly) })
            I am a student.
        </label>
    </div>
    <div class="is-student">
        <label class="institution-radio">
            @Html.RadioButton(string.Empty, EmployeeOrStudentAffiliate.Both, Model == EmployeeOrStudentAffiliate.Both,
                         new { id = string.Format("{0}_{1}", Html.IdFor(m => m), EmployeeOrStudentAffiliate.Both) })
            I am both an employee and a student.
        </label>
    </div>
    <div>
        <label class="institution-radio">
            @Html.RadioButton(string.Empty, EmployeeOrStudentAffiliate.Neither, Model == EmployeeOrStudentAffiliate.Neither,
                         new { id = string.Format("{0}_{1}", Html.IdFor(m => m), EmployeeOrStudentAffiliate.Neither) })
            I am neither an employee nor a student.
        </label>
    </div>
</div>
