@using UCosmic.Www.Mvc.Areas.My.Models
@model UpdateAffiliationForm
<div id="affiliation_editor">
    <div class="hidden-input">
        @Html.EditorFor(m => m.ReturnUrl)
        @Html.EditorFor(m => m.IsAcknowledged)
        @Html.EditorFor(m => m.EstablishmentId)
        @Html.EditorFor(m => m.Establishment.OfficialName)
        @Html.EditorFor(m => m.Establishment.IsInstitution)
    </div>
    @if (Model.Establishment.IsInstitution)
    {
        <p>
            Which of the following statements best describes your affiliation with @Model.Establishment.OfficialName?
        </p>
        @Html.EditorFor(m => m.EmployeeOrStudentAffiliation)
    }
    else
    {
        @Html.HiddenFor(m => m.EmployeeOrStudentAffiliation)
    }
    <div id="employee_form" style="display: none;">
        @if (Model.Establishment.IsInstitution)
        {
            <p>
                Do you work in the international affairs office? Are you an administrator, faculty,
                or staff? Check any that apply.
            </p>
            <div class="font-11">
                @Html.CheckBoxFor(m => m.IsClaimingInternationalOffice)
                @Html.LabelFor(m => m.IsClaimingInternationalOffice)
            </div>
            <div class="font-11">
                @Html.CheckBoxFor(m => m.IsClaimingAdministrator)
                @Html.LabelFor(m => m.IsClaimingAdministrator)
            </div>
            <div class="font-11">
                @Html.CheckBoxFor(m => m.IsClaimingFaculty)
                @Html.LabelFor(m => m.IsClaimingFaculty)
            </div>
            <div class="font-11">
                @Html.CheckBoxFor(m => m.IsClaimingStaff)
                @Html.LabelFor(m => m.IsClaimingStaff)
            </div>
            <p>
                You can optionally enter your job title(s) along with college(s) &amp; department(s)
                below.
            </p>
        }
        else
        {
            <p>
                You can optionally enter your job title(s) and department(s) below.
            </p>
        }
        <div class="field" data-ucosmic-val="css">
            <span class="label" data-ucosmic-focused-class="focused">
                @Html.LabelFor(m => m.JobTitles)
            </span>
            <div class="messages" data-ucosmic-focused-class="focused">
                <span class="validation">@Html.ValidationMessageFor(m => m.JobTitles)</span>
                <div class="bottom callout border">
                    <div class="bottom callout bg">
                    </div>
                </div>
            </div>
            <div class="input">
                <div class="text-area input">
                    @Html.EditorFor(m => m.JobTitles)
                </div>
            </div>
        </div>
    </div>
    <div>
        <input id="save_changes_submit_button" type="submit" value="Save Changes" />
        @Html.Partial(MVC.Shared.Views.return_url_cancel_link, Model.ReturnUrl)
        @Html.Partial(MVC.Shared.Views.form_submitted_spinner)
    </div>
</div>
