<p class="nt">
    Deployed 02/15/2012
</p>
<p>
    What can I do in February 2012 Preview 1 that I couldn't do before?
</p>
<hr />
<section id="feature1">
    <h3>
        Share my institutional agreement information with others
    </h3>
    <p>
        <strong>In order to</strong> promote awareness of my organization's global academic
        engagement,
        <br />
        <strong>As an</strong> international office,
        <br />
        <strong>I want to</strong> share international agreement information with my students,
        employees, and the public.
    </p>
    <p>
        Hopefully you've noticed the new look and feel. This re-design does not apply to
        the entire system yet, but it is used in all publicly-accessible screens. Read on
        to the next feature for more on how we can apply your brand using this new layout.
    </p>
    <p>
        Up until now, those users who have been entering agreements have been dealing with
        administrative screens that are not publicly accessible. This preview contains the
        first release of an institutional agreements public view that you can begin linking
        to from your internal web pages. The search feature is the only missing piece, and
        it is planned for deployment next week.
    </p>
    <p>
        Below are some screenshots of what the public views look like for the University
        of Cincinnati:
    </p>
    <div class="screenshots">
        <span class="screenshot-250"><strong>Public View</strong>
            <br />
            <br />
            <img src="@Links.content.images.agreements_public_search_250_jpg" alt="screenshot" class="screenshot"
                data-ucosmic-screenshot-target="public-search" />
        </span><span class="screenshot-250"><strong>Protected View</strong>
            <br />
            <br />
            <img src="@Links.content.images.agreements_protected_search_250_jpg" alt="screenshot" class="screenshot"
                data-ucosmic-screenshot-target="protected-search" />
        </span><span class="screenshot-250"><strong>Private View</strong>
            <br />
            <br />
            <img src="@Links.content.images.agreements_private_search_250_jpg" alt="screenshot" class="screenshot"
                data-ucosmic-screenshot-target="private-search" />
        </span>
    </div>
    <div class="screenshots">
        <span class="screenshot-250">
            <img src="@Links.content.images.agreements_public_info_250_jpg" alt="screenshot" class="screenshot"
                data-ucosmic-screenshot-target="public-info" />
        </span><span class="screenshot-250">
            <img src="@Links.content.images.agreements_protected_info_250_jpg" alt="screenshot" class="screenshot"
                data-ucosmic-screenshot-target="protected-info" />
        </span><span class="screenshot-250">
            <img src="@Links.content.images.agreements_private_info_250_jpg" alt="screenshot" class="screenshot"
                data-ucosmic-screenshot-target="private-info" />
        </span>
    </div>
    <div class="screenshot-900" data-ucosmic-screenshot="dialog" data-ucosmic-screenshot-trigger="public-search"
        data-ucosmic-screenshot-title="Public Agreement Search Screen">
        <img src="@Links.content.images.agreements_public_search_900_jpg" alt="screenshot"/>
    </div>
    <div class="screenshot-900" data-ucosmic-screenshot="dialog" data-ucosmic-screenshot-trigger="protected-search"
        data-ucosmic-screenshot-title="Protected Agreement Search Screen">
        <img src="@Links.content.images.agreements_protected_search_900_jpg" alt="screenshot"/>
    </div>
    <div class="screenshot-900" data-ucosmic-screenshot="dialog" data-ucosmic-screenshot-trigger="private-search"
        data-ucosmic-screenshot-title="Private Agreement Search Screen">
        <img src="@Links.content.images.agreements_private_search_900_jpg" alt="screenshot"/>
    </div>
    <div class="screenshot-900" data-ucosmic-screenshot="dialog" data-ucosmic-screenshot-trigger="public-info"
        data-ucosmic-screenshot-title="Public Agreement Detail Screen">
        <img src="@Links.content.images.agreements_public_info_900_jpg" alt="screenshot"/>
    </div>
    <div class="screenshot-900" data-ucosmic-screenshot="dialog" data-ucosmic-screenshot-trigger="protected-info"
        data-ucosmic-screenshot-title="Protected Agreement Detail Screen">
        <img src="@Links.content.images.agreements_protected_info_900_jpg" alt="screenshot"/>
    </div>
    <div class="screenshot-900" data-ucosmic-screenshot="dialog" data-ucosmic-screenshot-trigger="private-info"
        data-ucosmic-screenshot-title="Private Agreement Detail Screen">
        <img src="@Links.content.images.agreements_private_info_900_jpg" alt="screenshot"/>
    </div>
    <p>
        When managing institutional agreement data, the following rules apply to the public
        view:
    </p>
    <ol>
        <li><strong>Public</strong> fields can be seen by anyone.</li>
        <li><strong>Protected</strong> fields can only be seen by someone who is signed in with
            an email address under your institution's control (for example, usr4@lehigh.edu).</li>
        <li><strong>Private</strong> fields can only be seen by specific designated users.</li>
    </ol>
    <hr />
</section>
<section id="feature2">
    <h3>
        Brand UCosmic with my own organization's look and feel
    </h3>
    <p>
        <strong>In order to</strong> provide a coherent user interface for people using
        my organization's web sites,
        <br />
        <strong>As an</strong> international office,
        <br />
        <strong>I want to</strong> apply custom branding to the UCosmic design and layout
        (look &amp; feel).
    </p>
    <p>
        UC isn't the only consortium member to receive a custom look and feel in the above
        screenshots. In addition to the default layout, we've also created custom layouts
        for each of the consortium members who have been participating in the preview. You
        can see what the different layouts look like by opening <a href="@Url.Action(MVC.Common.Skins.Sample())" target="_blank">
            this page</a>. If you would like us to create a &quot;skin&quot; for your organization,
        <a href="https://ucosmic.uservoice.com" target="_blank">drop us a line in the feedback
            forum</a>.
    </p>
    <p>
        When users sign on, the look and feel is automatically applied. You can also apply
        the look and feel using a URL when linking to UCosmic from your internal web sites.
        Here is an example link for the University of Minnesota:
    </p>
    <p>
        <a href="https://preview.ucosmic.com/as/www.umn.edu?returnUrl=/my/institutional-agreements"
            target="_blank">https://preview.ucosmic.com/as/www.umn.edu?returnUrl=/my/institutional-agreements</a>
    </p>
    <hr />
</section>
<section id="feature3">
    <h3>
        Access UCosmic from my iPad
    </h3>
    <p>
        <strong>In order to</strong> access my international information when away from
        my computer,
        <br />
        <strong>As a</strong> mobile individual,
        <br />
        <strong>I want to</strong> access the UCosmic app from my iPad device.
    </p>
    <p>
        The new design and public view features have been tested and are fully compatible
        with your iPad.
    </p>
    <img src="@Links.content.images.ipad_photo_jpg" alt="ipad photo" class="screenshot" />
    <br />
    <br />
    <hr />
</section>
<section id="feature4">
    <h3>
        Find more partner institutions when adding institutional agreements
    </h3>
    <p>
        <strong>In order to</strong> catalog who my institutional agreement partners are,
        <br />
        <strong>As a</strong> manager of institutional agreement data,
        <br />
        <strong>I want to</strong> associate my partner institutions with my institutional
        agreements.
    </p>
    <p>
        The UCosmic database now contains over 2000 institutions.
    </p>
    <hr />
</section>
