@model UCosmic.Www.Mvc.Areas.Identity.Models.SignInForm
<div id="sign_in_editor" class="half-form">
    <div class="hidden-input">
        @Html.EditorFor(m => m.ReturnUrl)
    </div>
    @Html.DisplayFor(m => m.EmailAddress)
    @Html.EditorFor(m => m.Password)
    @Html.EditorFor(m => m.RememberMe)
    <div>
        <input type="submit" value="Sign On" />
        @Html.Partial(MVC.Shared.Views.form_submitted_spinner)
        <a href="@Url.Action(MVC.Identity.ForgotPassword.Get())" class="button-sized" data-ucosmic-form-submitting="hide">
                I forgot my password</a>
    </div>
</div>
