@using UCosmic.Www.Mvc.Areas.Preferences.Models
@model UCosmic.Www.Mvc.Areas.Languages.Models.SearchRequest
@{
    ViewBag.Title = "Languages";
}
@section Styles
{
    <style type="text/css">
        .ucosmic .data-items {
            width: 940px;
        }

        .ucosmic ul.results-formats {
            list-style: none;
            padding: 0;
            margin: 0;
        }

            .ucosmic ul.results-formats li {
                font-size: 16px;
                display: inline-block;
                padding: 6px 24px;
                cursor: pointer;
                color: #444;
                background: #ddd;
            }

                .ucosmic ul.results-formats li.selected {
                    background: #bbb;
                }

        .ucosmic table.data-table tbody tr:hover td {
            background: #ff0;
            cursor: pointer;
        }

        .ucosmic ul.data-list {
            list-style: none;
            padding: 0;
            margin: 0;
            border-bottom: solid 1px #ccc;
        }

            .ucosmic ul.data-list li {
                font-size: 16px;
                border-top: solid 1px #ccc;
            }

                .ucosmic ul.data-list li.hilite {
                    background: #ffa;
                }

                .ucosmic ul.data-list li > a {
                    display: block;
                    color: #444;
                    text-decoration: none;
                    cursor: pointer;
                    padding: 10px 0 10px 10px;
                }

                .ucosmic ul.data-list li .col {
                    display: inline-block;
                    width: 100px;
                    vertical-align: text-top;
                    padding-right: 10px;
                    position: static;
                    top: auto;
                    bottom: auto;
                }

                .ucosmic ul.data-list li:hover {
                    background: #ff0;
                }

        .ucosmic ul.data-grid {
            list-style: none;
            padding: 0;
            margin: 0;
            vertical-align: top;
        }

            .ucosmic ul.data-grid li {
                margin-right: 10px;
                margin-bottom: 15px;
                font-size: 16px;
                border: solid 1px #ccc;
                display: inline-block;
                vertical-align: top;
            }

                .ucosmic ul.data-grid li.hilite {
                    background: #ffa;
                }

                .ucosmic ul.data-grid li > a {
                    display: block;
                    cursor: pointer;
                    padding: 10px;
                    color: #444;
                    text-decoration: none;
                    width: 150px;
                    min-height: 100px;
                }

                .ucosmic ul.data-grid li:hover {
                    background: #ff0;
                }
    </style>
}
<div>
    <div class="wrap-960">
        <div style="margin-bottom: 1em;">
            <div style="display: inline-block;">
                <input type="search" data-bind="value: keyword, valueUpdate: 'afterkeydown search'"
                    placeholder="Find a language..." autofocus="autofocus" autocomplete="on" style="font-size: 15px; padding: 5px; width: 250px;" />
                <input type="hidden" data-bind="value: scrollTop" />
                <input type="hidden" data-bind="value: pageNumber" />
            </div>
            <div style="display: inline-block;">
                <ul class="results-formats">
                    @foreach (var option in Model.LensOptions)
                    {
                        <li data-bind="click: changeLens, css: { selected: lens() === '@option.Value' }"
                            data-option-value="@option.Value">@option.Text</li>
                    }
                </ul>
                @Html.DropDownListFor(m => m.Lens, Model.LensOptions, new
                {
                    data_bind = "value: lens",
                    data_preference_category = PreferenceCategory.Languages,
                    data_preference_key = PreferenceKey.Lens,
                    style = "display: none;",
                })
            </div>
            <div style="display: inline-block">
                @Html.DropDownListFor(m => m.PageSize, Model.PageSizeOptions, new
                {
                    data_bind = "value: pageSize",
                    data_preference_category = PreferenceCategory.Languages,
                    data_preference_key = PreferenceKey.PageSize,
                    style = "font-size: 15px; padding: 5px;",
                })
            </div>
            <div style="display: inline-block; font-size: 16px;">
                <button data-bind="click: prevPage, enable: prevEnabled" style="font-size: 16px; padding: 6px 12px; margin: 0; border-width: 1px;">
                    &lt;&lt; Back</button>
                <button data-bind="click: nextPage, enable: nextEnabled" style="font-size: 16px; padding: 6px 12px; margin: 0; border-width: 1px;">
                    Next &gt;&gt;</button>
            </div>
        </div>
        <p data-bind="visible: showSpinner" style="display: none;">
            <img src="@Url.Content(Links.content.icons.loaders.win7_wait_16_gif)" alt="" style="vertical-align:text-top;" />
            <span style="font-size: 16px;">Loading...</span>
        </p>
        <div data-bind="visible: hasNoItems" style="display: none;">
            <p>
                There are no languages that match your search terms.
            </p>
        </div>
        <div class="data-items">
            <div data-bind="visible: showTableLens" style="display: none;">
                <table class="data-table" style="width: 100%;">
                    <colgroup>
                        <col style="width: 25%;" />
                        <col style="width: 25%;" />
                        <col style="width: 25%;" />
                        <col style="width: 25%;" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>
                                Language
                            </th>
                            <th>
                                Native Name
                            </th>
                            <th>
                                ISO Codes
                            </th>
                            <th>
                                Translations
                            </th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: items">
                        <tr data-bind="click: goToHref, css: { hilite: IsUserLanguage }">
                            <td>
                                <a data-bind="text: TranslatedNameText, attr: { href: href }" style="font-weight: bold;"></a>
                            </td>
                            <td>
                                <span data-bind="text: formattedNativeNameText"></span>
                            </td>
                            <td>
                                <span data-bind="text: isoCodes"></span>
                            </td>
                            <td>
                                <span data-bind="text: NamesCount"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div data-bind="visible: showListLens" style="display: none;">
                <ul class="data-list" data-bind="foreach: items">
                    <li data-bind="css: { hilite: IsUserLanguage }"><a data-bind="attr: { href: href }">
                        <div class="col" style="width: 350px;">
                            <strong data-bind="text: TranslatedNameText"></strong><span data-bind="visible: formattedNativeNameText() !== '-'">&nbsp;(<span data-bind="text: formattedNativeNameText"></span>) </span>
                        </div>
                        <div class="col" style="width: 200px;">
                            <span data-bind="text: isoCodes"></span>
                        </div>
                        <div class="col" style="width: 200px;">
                            <span data-bind="text: namesCountPluralizer"></span>
                        </div>
                    </a></li>
                </ul>
            </div>
            <div data-bind="visible: showGridLens" style="display: none;">
                <ul class="data-grid" data-bind="foreach: items">
                    <li data-bind="css: { hilite: IsUserLanguage }"><a data-bind="attr: { href: href }">
                        <div>
                            <strong data-bind="text: TranslatedNameText"></strong><span data-bind="visible: formattedNativeNameText() !== '-'">&nbsp;(<span data-bind="text: formattedNativeNameText"></span>) </span>
                        </div>
                        <div>
                            <span data-bind="text: isoCodes"></span>
                        </div>
                        <div>
                            <span data-bind="text: namesCountPluralizer"></span>
                        </div>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
@section Scripts
{

    <script type="text/javascript" src="@Url.Content(Links.Models.LayoutScroll_js)"></script>

    <script type="text/javascript" src="@Url.Content(Links.Models.PageOfResults_js)"></script>

    <script type="text/javascript" src="@Url.Content(Links.Areas.Languages.Models.SearchResults_js)"></script>

    <script type="text/javascript">

        $(function () {
            ko.applyBindings(new LanguageResultsViewModel());
        });

    </script>

}
