@model UCosmic.Www.Mvc.Areas.Languages.Models.LanguageTableRow
<tr>
    <td>
        <a href="@Url.Action(MVC.Languages.Language.Get(@Model.TwoLetterIsoCode))" data-pjax="#pjax">@Html.DisplayFor(m => m.TranslatedNameText)</a>
    </td>
    <td>
        @Html.DisplayFor(m => m.NativeNameText)
    </td>
    <td>
        @Html.DisplayFor(m => m.NamesCount)
    </td>
    <td>
        @Html.DisplayFor(m => m.Iso639Codes)
    </td>
</tr>
