@model UCosmic.Www.Mvc.Areas.My.Models.UpdateAffiliationForm
@{
    ViewBag.Title = "Edit affiliation info";
    Layout = MVC.Shared.Views.layout;
}
@section Styles
{
    @Html.Partial(MVC.My.UpdateAffiliation.Views._styles)
}
@section Scripts
{
    @Html.Partial(MVC.My.UpdateAffiliation.Views._scripts)
}
<div class="wrap-960">
    <h2 class="push-down">
        My <i>@Model.Establishment.OfficialName</i> Affiliation
    </h2>
    <div class="split-form pull-down">
        <div class="left">
            @using (Html.BeginForm(
                MVC.My.UpdateAffiliation.ActionNames.Put,
                MVC.Identity.Self.Name,
                new
                {
                    area = MVC.My.Name,
                    httpMethod = "POST"
                }
            ))
            {
                @Html.HttpMethodOverride(HttpVerbs.Put)
                <fieldset>
                    <legend>Affiliation Info</legend>
                    @Html.EditorForModel()
                </fieldset>
            }
        </div>
        <div class="right">
            @if (Model.Establishment.IsInstitution)
            {
                <p>
                    Please answer the questionnaire on the left.
                </p>
                <p>
                    If you are a <b>@Model.Establishment.OfficialName</b> employee, you can indicate
                    whether you are an administrator, faculty member, or staff.
                </p>
                <p>
                    Employees may optionally indicate their job title(s), department(s), and/or colleges.
                </p>
                <p>
                    When you are finished, click the <b>Save Changes</b> button.
                </p>
            }
            else
            {
                <p>
                    Because this affiliation is not with an academic institution, UCosmic assumes you
                    are an employee of <b>@Model.Establishment.OfficialName</b>.
                </p>
                <p>
                    Please enter your job title(s) and / or department(s) in the box on the left and
                    click <b>Save Changes</b>.
                </p>
            }
        </div>
    </div>
</div>
