@using UCosmic.Www.Mvc.Areas.Identity.Models.SignUp
@model OldCreatePasswordForm
<div id="create_password_editor">
    <div class="field" data-ucosmic-val="css">
        <span class="label" data-ucosmic-val-hide="error" data-ucosmic-val-show="valid" data-ucosmic-focused-class="focused">
            @Html.LabelFor(m => m.Password)
        </span>
        <div class="messages" data-ucosmic-focused-class="focused">
            <span class="validation">@Html.ValidationMessageFor(m => m.Password)</span>
            <div class="bottom callout border">
                <div class="bottom callout bg">
                </div>
            </div>
        </div>
        <div class="input">
            <div class="text-box input" data-ucosmic-watermark="true" 
                 data-ucosmic-watermark-text="@(ModelMetadata.FromLambdaExpression(m => Model.Password, ViewData).Watermark)"
                 data-ucosmic-watermark-class="watermark" data-ucosmic-watermark-focused-class="focused"
                 data-ucosmic-trim-input="true">
                @Html.EditorFor(m => m.Password)
            </div>
        </div>
    </div>
    <div class="field" data-ucosmic-val="css">
        <span class="label" data-ucosmic-val-hide="error" data-ucosmic-val-show="valid" data-ucosmic-focused-class="focused">
            @Html.LabelFor(m => m.ConfirmPassword)
        </span>
        <div class="messages" data-ucosmic-focused-class="focused">
            <span class="validation">@Html.ValidationMessageFor(m => m.ConfirmPassword)</span>
            <div class="bottom callout border">
                <div class="bottom callout bg">
                </div>
            </div>
        </div>
        <div class="input">
            <div class="text-box input" data-ucosmic-watermark="true" 
                 data-ucosmic-watermark-text="@(ModelMetadata.FromLambdaExpression(m => Model.ConfirmPassword, ViewData).Watermark)"
                 data-ucosmic-watermark-class="watermark" data-ucosmic-watermark-focused-class="focused"
                 data-ucosmic-trim-input="true">
                @Html.EditorFor(m => m.ConfirmPassword)
            </div>
        </div>
    </div>
    <div class="field">
        @Html.Partial(MVC.Shared.Views.password_meter)
    </div>
    <div>
        <input type="submit" value="Create Password" />
        @Html.Partial(MVC.Shared.Views.form_submitted_spinner)
    </div>
</div>
