@using UCosmic.Domain.People
@model UCosmic.Www.Mvc.Areas.Identity.Models.ConfirmEmailForm
@{
    ViewBag.Title = "Confirm your email address";
    Layout = MVC.Shared.Views.layout;
}
<div class="wrap-960 split-form">
    <div class="left">
        <fieldset>
            <legend>
                @Html.Partial(MVC.Identity.ConfirmEmail.Views._form_legend)
            </legend>
            @Html.Partial(MVC.Identity.ConfirmEmail.Views._form_instructions)
            @using (Html.BeginForm(
                MVC.Identity.ConfirmEmail.ActionNames.Post,
                MVC.Identity.ConfirmEmail.Name,
                new
                {
                    area = MVC.Identity.Name,
                    httpMethod = "POST",
                    token = Model.Token,
                }
                ))
            {
                @Html.AntiForgeryToken()
                @Html.EditorForModel()
            }
            @if (Model.Intent == EmailConfirmationIntent.SignUp)
            {
                <p>
                    After confirming, your next step will be to create a password.
                </p>
            }
        </fieldset>
    </div>
    <div class="right">
        @Html.Partial(MVC.Identity.ConfirmEmail.Views._right)
    </div>
</div>
@section Styles
{
    @Html.Partial(MVC.Identity.ConfirmEmail.Views._styles)
}
