@model UCosmic.Www.Mvc.Areas.Identity.Models.MyHomeInfo.MyEmailAddress
<div class="email-address">
    <div class="email-details email-info">
        <span class="email-value"><a href="@Url.Action(MVC.Identity.UpdateEmailValue.Get(Model.Number))" class="email-action" title="Change spelling">@Model.Value</a>
        </span>
        @if (Model.IsConfirmed)
        {
            <span class="email-confirmed">
                <img src="@Url.Content(@Links.content.icons.checkmarks.checkmark_green_16_png)" alt="checkmark" />
                Confirmed</span>
        }
        else
        {
            <span class="email-unconfirmed">Unconfirmed</span>
        }
        @if (Model.IsDefault)
        {
            <span class="email-primary">
                <img src="@Url.Content(@Links.content.icons.users.user_black_16_png)" alt="key" />
                Primary</span>
        }
    </div>
</div>
