@*@using UCosmic.Www.Mvc.Areas.Identity.Models.EmailConfirmation
@model ConfirmEmailForm
<div id="confirm_email_editor">
    <table class="form half-form">
        <tbody>
            <tr>
                <th class="label no-wrap">
                    @Html.LabelFor(m => m.SecretCode)
                    &nbsp;
                </th>
                <td class="value">
                    <div class="input">
                        @Html.EditorFor(m => m.SecretCode)
                    </div>
                    <div class="model-validator">
                        @Html.ValidationMessageFor(m => m.SecretCode)
                    </div>
                </td>
                <td class="info">
                    <div class="model-validator">
                        @Html.ValidationMessageFor(m => m.SecretCode)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td colspan="2">
                    <div>
                        @Html.EditorFor(m => m.Token)
                        @Html.EditorFor(m => m.EmailAddressValue)
                        <input type="submit" value="Confirm Email Ownership" />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
*@