<div class="top-tabs flex">
    <div class="left col">
        <ol>
            <li><a href="@Url.Action(MVC.Common.Features.Releases())" class="@ViewBag.HomeTopTabCssClass">
                Home</a></li>
            <li><a href="@Url.Action(MVC.InstitutionalAgreements.PublicSearch.Index("my"))" class="@ViewBag.InstitutionalAgreementsTopTabCssClass">
                Agreements</a></li>
            <li><a href="@Url.Action(MVC.Activities.ActivityIndex.Get())" class="@ViewBag.FacultyStaffTopTabCssClass">
                Faculty &amp; Staff</a></li>
            <li><a href="@Url.Action(MVC.Common.Features.Requirements("alumni"))" class="@ViewBag.AlumniTopTabCssClass">
                Alumni</a></li>
            <li><a href="@Url.Action(MVC.Common.Features.Requirements("students"))" class="@ViewBag.StudentsTopTabCssClass">
                Students</a></li>
            <li><a href="@Url.Action(MVC.Common.Features.Requirements("representatives"))" class="@ViewBag.RepresentativesTopTabCssClass">
                Representatives</a></li>
            <li><a href="@Url.Action(MVC.Common.Features.Requirements("travel"))" class="@ViewBag.TravelTopTabCssClass">
                Travel</a></li>
            <li><a href="@Url.Action(MVC.Common.Features.Requirements("corporate-engagement"))" class="@ViewBag.CorporateEngagementTopTabCssClass">
                Corporate Engagement</a></li>
            <li><a href="@Url.Action(MVC.Common.Features.Requirements("global-press"))" class="@ViewBag.GlobalPressTopTabCssClass">
                    Global Press</a></li>
            <li><a href="@Url.Action(MVC.RecruitmentAgencies.Configuration.Configure())" class="@ViewBag.RecruitmentAgenciesTopTabCssClass">Recruitment Agencies</a></li>
        </ol>
    </div>
</div>
