@*@model UCosmic.Www.Mvc.Areas.Identity.Models.SignIn.SignInAsForm
@{
    Layout = MVC.Shared.Views.layout;
    ViewBag.Title = "Sign in as a different user";
}
<div class="wrap-960">
    <h2 class="no-display">
        @ViewBag.Title
    </h2>
    @using (Html.BeginForm())
    {
        <div class="hidden-input">
            @Html.EditorFor(m => m.ReturnUrl)
        </div>
        <div class="field" data-ucosmic-val="css">
            <div class="label">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="input">
                <div class="text-box input" data-ucosmic-trim-input="true">
                    @Html.EditorFor(m => m.UserName)
                </div>
            </div>
            <div class="messages ui-helper-clearfix" data-ucosmic-focused-class="focused">
                <div class="left callout border ok">
                    <div class="left callout bg">
                    </div>
                </div>
                <div class="callout content ok">
                    <span class="validation">@Html.ValidationMessageFor(m => m.UserName)</span> <span
                        class="info" data-ucosmic-val-hide="error" data-ucosmic-val-show="valid">Required</span>
                </div>
            </div>
        </div>
        <input type="submit" value="Sign In" />
    }
</div>
*@